$bg-colour: #D8EAEC;
$text-colour: #32475C;
$viz-margin-vert: 3rem;
$fade-opacity: 0.25;
$fill-opacity: 0.5;
$swatch-opacity: 0.75;

@font-face {
    font-family: Alice;
    src: url(../fonts/Alice-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Regular.ttf);
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Bold.ttf);
    font-weight: 700;
}

body {
    margin: 0;
}

// remove this for embed

#denom-affiliate-viz {
    * {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

#denom-affiliate-viz {
    position: relative;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    // width: 1920px;
    // height: 1080px;
    color: $text-colour;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    &.widescreen {
        
        justify-content: flex-start;

        #viz-wrapper {
            transform-origin: 50% 0% 0;
        }
    }

    // FILE LOADER

    #file-loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-colour;
        z-index: 200;

        &.loader-hide {
            display: none;
        }
    }

    #file-loader-dialog {
        padding: 4.5rem 3.5rem 4rem 3.5rem;
        background-color: $text-colour;
        color: white;
    }

    .dialog-block {

        margin-bottom: 2.25rem;

        &.header {
            margin-bottom: 0.9rem;
        }

        &.upload {
            display: flex;
            flex-direction: column;
            row-gap: 0.6rem;
            align-items: flex-start;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }






    // LAYOUT

    #viz-wrapper {
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        width: 1920px;
        height: 1080px;
        background-color: $bg-colour;
        // padding: 2.5rem;
        flex-shrink: 0;    
    }

    #viz-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #viz-sidebar {
        flex-grow: 1;
        max-width: 33.33%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #viz-header {
        display: flex;
        flex-direction: row;

        margin-top: $viz-margin-vert;
    }

    #viz-header-left {
        color: white;
    }

    #header-left-top,
    #header-left-bottom {
        padding-left: 5rem;
    }

    #header-left-top {
        background-color: $text-colour;
        padding-top: 2.2rem;
        padding-bottom: 1.9rem;
        padding-right: 2.2rem;
    }

    #header-left-bottom {
        width: fit-content;
        background-color: #4B5F73;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        padding-right: 2.2rem;
    }

    #viz-chart {
        width: 100%;
        flex-grow: 1;
        position: relative;

        margin-top: 0;
        margin-left: 0;
        margin-bottom: $viz-margin-vert;
        margin-right: 0;
    }


    #viz-chart-labels, #viz-chart-svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #viz-chart-svg {
    }

    #viz-chart-labels {
        z-index: 100;
        pointer-events: none;
    }




    // CAPTION

    #viz-header-right {
        flex-grow: 1;
        margin-top: 2.2rem;
        // margin-bottom: 1.25rem;
        margin-left: 20%;
        margin-right: 5.5rem;

        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        column-gap: 3.25rem;
    }

    .caption-container {

        &#caption-a {}

        &#caption-b {

            padding-left: 3rem;
            border-left-style: solid;
            border-left-width: 1px;
        }
    }

    .caption-flex {

        display: flex;
        column-gap: 0.9rem;

        &.text-size {
            align-items: center;
            column-gap: 0.6rem;
            margin-bottom: 0.25rem;
        }
    }

    .caption-group {
        margin-bottom: 1.5rem;
    }





    // CAPTION TEXT

    .caption-heading {

        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: 1.2;
        font-size: 2.5rem;

        margin-top: -0.2em;
        margin-bottom: 0.75rem;

        &.xl {
            font-size: 6.75rem;
        }

        // more sizes

        // &.lg {
        //     font-size: 3rem;
        //     line-height: 1.1;
        // }
        // &.md {
        //     font-size: 2.75rem;
        // }
        // &.sm {
        //     font-size: 2.25rem;
        // }

        &.small-caps {
            margin-top: -0.35em;
        }
    }

    .caption-subhead-caps {
        font-family: 'Raleway', sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 0.03em;
        line-height: 1.15;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    .caption-dimension-heading {
        font-family: 'Raleway', sans-serif;
        font-size: 1.375rem;
        font-weight: 700;
        margin-bottom: 0.675rem;
        font-variant-ligatures: none;
    }

    .caption-text {

        font-family: 'Lora', serif;
        font-size: 1.875rem;
        line-height: 1.3;

        &.bold {
            font-weight: 700;
        }

    }

    .icon {
        &.color-swatch {
            // background-color: darkgrey;
            border-radius: 50%;
            opacity: $swatch-opacity;
        }

        &.text-size {
            width: 1.55rem;
            height: 1.55rem;
        }

        &.heading-size {
            width: 1.95rem;
            height: 1.95rem;
        }
    }







    // CHART

    .chart-link {
        stroke: rgb(180, 180, 180);

        &.category {
            stroke-width: 3;
            stroke: rgb(195, 195, 195);
        }

        &.faded {
            stroke-opacity: $fade-opacity;
        }
    }

    .chart-node {

        // default circle settings

        .focused {
            stroke-opacity: 0;
            fill-opacity: 0;
            stroke-width: 2;
        }

        &.category, &.origin {
            .size {
                fill: $bg-colour;
                stroke-width: 1;
            }
        }

        &.affiliate {
            .size {
                fill-opacity: 0.5;
                stroke-width: 1.5;
            }
        }

        // states

        &.highlighted {
            .focused {
                fill-opacity: 0.2;
            }
        }

        &.selected {
            .focused {
                stroke-opacity: 0.5;
            }
        }

        &.faded {
            &.category {
                .size {stroke-opacity: $fade-opacity;}
                .point {opacity: $fade-opacity;}
            }
            &.affiliate {
                .size, .point {opacity: $fade-opacity;}
            }
        }
    }

    .chart-label {

        position: absolute;
        transform: translate(-50%, 0.9rem);

        text-shadow: -2px -2px 2px $bg-colour, -2px 2px 2px $bg-colour, 2px 2px 2px $bg-colour, 2px -2px 2px $bg-colour;

        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        font-weight: 600;

        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;

        cursor: default;

        &.category, &.origin {
            opacity: 1;
            pointer-events: auto;
        }

        &.origin {
            font-size: 1.5rem;
            transform: translate(-50%, 1.25rem);
        }

        &.faded {
            opacity: $fade-opacity;
        }
    }








    // DESIGN

    .logo {
        width: 12.5rem;
        mix-blend-mode: lighten;
    }

    h1 {
        font-size: 3rem;
        font-family: Alice, serif;
        margin: 0;
        font-weight: normal;
        line-height: 1.05;
    }

    p {
        margin: 0;

        &.subtitle {
            font-family: 'Raleway', sans-serif;
            font-size: 1rem;
            font-weight: 700;
        }
    }

    a {
        color: white;
    }

}