$bg-colour: #D8EAEC;
$primary-clr: #32475C;
$secondary-clr: #4B5F73;
$spacing-vert: 3rem;
$spacing-horiz: 5.5rem;
$fade-opacity: 0.2;
$fill-opacity: 0.5;
$swatch-opacity: 0.75;

@font-face {
    font-family: Alice;
    src: url(../fonts/Alice-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Regular.ttf);
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Bold.ttf);
    font-weight: 700;
}

body {
    margin: 0;
}

#denom-affiliate-viz {
    * {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

#denom-affiliate-viz {
    position: relative;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    color: $primary-clr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    &.widescreen {

        justify-content: flex-start;
        #viz-wrapper {transform-origin: 50% 0% 0;}
    }

    #viz-wrapper {
        width: 1920px;
        height: 1080px;
        background-color: $bg-colour;
        flex-shrink: 0;    
    }

    #viz-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }





    // OVERRIDE DEFAULTS

    p {
        margin: 0;

        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        font-weight: 600;

        strong, &.bold {font-weight: 700;}
    }

    a {
        color: white;
    }

    figure {
        margin: 0;
    }






    // FILE LOADER

    #file-loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-colour;
        z-index: 200;

        &.loader-hide {display: none;}
    }

    #file-loader-dialog {
        padding: 4.5rem 3.5rem 4rem 3.5rem;
        background-color: $primary-clr
    ;
        color: white;
    }

    .dialog-block {

        margin-bottom: 2.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0.7rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    #responsive-checkbox {
        margin: 0;
    }







    // HEADER

    #viz-header {
        display: flex;
        flex-direction: row;
        margin-top: $spacing-vert;
    }

    #viz-header-left {
        color: white;
        margin-bottom: 0.5rem;
    }

    #header-left-top,
    #header-left-bottom {
        padding-left: $spacing-horiz;
    }

    #header-left-top {
        background-color: $primary-clr;
        padding-top: 2.2rem;
        padding-bottom: 1.9rem;
        padding-right: 2.2rem;
    }

    #header-left-bottom {
        width: fit-content;
        background-color: $secondary-clr;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        padding-right: 2.2rem;
    }

    .logo {
        width: 12.5rem;
        mix-blend-mode: lighten;
    }

    h1 {
        font-size: 3rem;
        font-family: Alice, serif;
        margin: 0;
        font-weight: normal;
        line-height: 1.05;
    }




    // CAPTION

    #viz-header-right {
        flex-grow: 1;
        margin-top: 2.2rem;
        margin-left: 20%;
        margin-right: $spacing-horiz;

        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        column-gap: 4.75rem;
    }

    .caption-container {

        &#caption-a {}

        &#caption-b {
            padding-left: 4.5rem;
            border-left-style: solid;
            border-left-width: 1px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 1.5rem;
        }
    }

    .caption-flex {

        display: flex;

        &.gap-lg {
            column-gap: 2.1rem;
        }

        &.gap-md {
            column-gap: 0.55rem;
            margin-bottom: 0.25rem;
            align-items: center;
        }

        &.gap-sm {
            column-gap: 0.45rem;
        }
    }





    // CAPTION TEXT

    .caption-heading {

        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: 1.2;
        font-size: 2.5rem;

        margin-top: -0.2em;
        margin-bottom: 0.75rem;

        &.xl {font-size: 6.75rem;}

        &.small-caps { margin-top: -0.35em;}
    }

    .caption-subhead-caps {
        font-family: 'Raleway', sans-serif;
        font-size: 1.15rem;
        font-weight: 600;
        letter-spacing: 0.03em;
        line-height: 1.15;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    .caption-dimension-heading {
        font-family: 'Raleway', sans-serif;
        font-size: 1.375rem;
        font-weight: 700;
        margin-bottom: 0.675rem;
        font-variant-ligatures: none;
    }

    .caption-text {

        font-family: 'Lora', serif;
        font-size: 1.875rem;
        line-height: 1.3;

        &.bold {
            font-weight: 700;
        }

    }

    .color-swatch {
        border-radius: 50%;
        opacity: $swatch-opacity;
        background-repeat: no-repeat;
        background-position: center;

        &.md {
            width: 1.55rem;
            height: 1.55rem;
            margin: 0.1rem;
        }
    
        &.lg-category {
            width: 5.25rem;
            height: 5.25rem;
            margin-top: -0.425rem;

            background-image: url("../assets/faith_traditions_rev_30px.svg");
            background-size: 40px 40px;
        }
    }

    .symbol {

        background-repeat: no-repeat;
        background-position: center;
            
        &.md {
            width: 1.75rem;
            height: 1.75rem;
        }

        &.sm {
            width: 1.15rem;
            height: 1.15rem;
            margin-top: 0.05rem;
        }

        &.faith-traditions {background-image: url("../assets/faith_traditions_30px.svg");}
        &.congregations {background-image: url("../assets/congregations_30px.svg");}
        &.affiliates {background-image: url("../assets/affiliates_30px.svg");}
        &.affiliate {background-image: url("../assets/affiliate_18px.svg");}
    }







    // CHART

    #viz-chart {
        width: 100%;
        flex-grow: 1;
        position: relative;

        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
    }


    #viz-chart-labels, #viz-chart-svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #viz-chart-svg {
    }

    #viz-chart-labels {
        z-index: 100;
        pointer-events: none;
    }

    .chart-link {
        stroke: rgb(180, 180, 180);

        &.category {
            stroke-width: 3;
            stroke: rgb(195, 195, 195);
        }

        &.faded {stroke-opacity: $fade-opacity;}
    }

    .chart-node {

        cursor: pointer;

        // default circle settings

        .focused {
            stroke-opacity: 0;
            fill-opacity: 0;
            stroke-width: 2;
        }

        &.category, &.origin {
            .size {
                fill: $bg-colour;
                stroke-width: 1;
            }
        }

        &.affiliate {
            .size {
                fill-opacity: 0.5;
                stroke-width: 1.5;
            }
        }

        // states

        &.hl-full {
            .focused {fill-opacity: 0.3;}
        }

        &.hl-half {
            .focused {fill-opacity: 0.15;}
        }

        &.selected {
            .focused {stroke-opacity: 0.5;}
        }

        &.faded {
            &.category {
                .size {stroke-opacity: $fade-opacity;}
                .point {opacity: $fade-opacity;}
            }
            &.affiliate {
                .size, .point {opacity: $fade-opacity;}
            }
        }
    }

    .chart-label {

        position: absolute;
        transform: translate(-50%, 1rem);

        text-shadow: -2px -2px 2px $bg-colour, -2px 2px 2px $bg-colour, 2px 2px 2px $bg-colour, 2px -2px 2px $bg-colour;

        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        font-weight: 600;

        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;

        cursor: pointer;

        &.category, &.origin {
            opacity: 1;
            pointer-events: auto;
        }

        &.origin {
            font-size: 1.5rem;
            transform: translate(-50%, 1.25rem);
        }

        &.faded {opacity: $fade-opacity;}
    }






    // FOOTER

    #viz-footer {
        padding-left: $spacing-horiz;
        padding-right: $spacing-horiz;
        margin-bottom: $spacing-vert;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #viz-controls {
        display: flex;
        align-items: center;
        column-gap: 0.75rem;
    }

    .footer-item {
        display: flex;
        align-items: center;
        column-gap: 1.125rem;
    }

    .footer-text {
        font-family: Raleway, sans-serif;
        font-size: 1.25rem;
        margin-bottom: 0.05rem;
    }

    .footer-circle {
        fill: none;
        stroke: $primary-clr;
        stroke-width: 1.5;
    }

    .viz-button {
        background-color: $bg-colour;
        border: none;
        height: 3rem;
        width: 3rem;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            display: block;
            pointer-events: none;

            &.invisible {display: none;}
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.15);
        }
    }
}