$bg-colour: lightgrey;
$viz-margin-vert: 3rem;

@font-face {
    font-family: Alice;
    src: url(../fonts/Alice-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Regular.ttf);
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Bold.ttf);
    font-weight: 700;
}

body {margin: 0;} // remove this for embed

#denom-affiliate-viz
{
    *
    {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

#denom-affiliate-viz
{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    // width: 100%;
    // padding-top: 56.25%;
    width: 1920px;
    height: 1080px;

    #viz-wrapper
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-colour;
        // padding: 2.5rem;      
    }

    #viz-container
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #viz-sidebar
    {
        flex-grow: 1;
        max-width: 33.33%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #viz-header {
        display: flex;
        flex-direction: row;
        
        margin-top: $viz-margin-vert;
    }

    #viz-header-left {
        color: white;
    }

    #header-left-top, #header-left-bottom {
        padding-left: 5rem;
    }

    #header-left-top {
        background-color: darkslategrey;
        padding-top: 2.2rem;
        padding-bottom: 1.9rem;
        padding-right: 2.2rem;
    }

    #header-left-bottom {
        width: fit-content;
        background-color: darkgrey;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        padding-right: 2.2rem;

        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        font-weight: 700;
    }


    // CAPTION

    #viz-header-right {
        flex-grow: 1;
        margin-top: 2.2rem;
        margin-bottom: 1.25rem;
        margin-left: 20%;
        margin-right: 5.5rem;

        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        column-gap: 3.25rem;
    }

    .caption-container {

        &.border-right {
            padding-right: 3rem;
            border-right-style: solid;
            border-right-width: 0.15rem;
        }
    }

    .caption-flex {
        display: flex;
        column-gap: 1.25rem;
    }

    .caption-heading {

        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: 1.15;

        &.xl {font-size: 6.75rem;}
        &.lg {font-size: 4rem;}
        &.md {font-size: 3rem;}
        &.small-caps {margin-top: -0.25em;}
    }

    .caption-subhead-caps {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 1.15;
        text-transform: uppercase;
    }

    .caption-text {

        font-family: 'Lora', serif;
        font-size: 2.25rem;
        line-height: 1.3;

        &.bold {font-weight: 700;}

    }

    .color-square {

        background-color: darkgrey;

        &.text-size {
            width: 2.25rem;
            height: 2.25rem;
        }
        &.heading-size {
            width: 4rem;
            height: 4rem;
        }
    }

    
    // CHART

    #viz-chart
    {
        width: 100%;
        flex-grow: 1;
        position: relative;
        margin: 0;
        margin-bottom: $viz-margin-vert;
    }

    svg & #viz-chart-svg
    {
    }

    #viz-chart-labels {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        pointer-events: none;
    }

    .chart-link
    {
        stroke: rgb(160, 160, 160);

        &.category {
            stroke-width: 3px;
        }
    }

    .chart-node
    {
        
        &.category {
            stroke: black;
            stroke-width: 1px;
            fill: $bg-colour;
        }
        
        &.affiliate {

            .point {
                fill: rgb(114, 114, 114);
            }

            .size {
                fill: rgb(114, 114, 114); 
                fill-opacity: 0.7;
            }
        }
    }

    .label-true {
        position: absolute;
        transform: translate(-50%, 0.75rem);

        background-color: $bg-colour;

        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        font-weight: 600;

    }


    // DESIGN

    .logo {
        width: 12.5rem;
        mix-blend-mode: lighten;
    }

    h1 {
        font-size: 3rem;
        font-family: Alice, serif;
        margin: 0;
        font-weight: normal;
    }
    
    p {
        margin: 0;
    }

}